/*font-family: 'Righteous', cursive;// //Display font/header//
//font-family: 'Karla', sans-serif;*/
/* rgb(255, 99, 99) muted red */
/* rgb(233, 206, 255) lavender/ muted light purple */
/* body {
  background: url('../img/star-background.jpg')repeat;
  background-size:cover;
} */

h1{
  font-family: 'Karla', sans-serif;
  color: black;
  /* background: black; */
}
h2, h3, h4, h5, h6, p{
  font-family: 'Karla', sans-serif;
  color: black;
}
ul li{
  color: black;
  font-family: 'Karla', sans-serif;
}
a{
  color: black;
  font-family: 'Karla', sans-serif;
}
a:visited {
    color: black;
}
a:hover{
  color: black;
  text-decoration: underline;
}

.button{
  background: rgb(233, 206, 255);
}
/* lavender */
.cen{
  text-align: center;
}
.thumbnail{
  height: auto;
  width: auto;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}
.responsive {
  width: 100%;
  height: auto;
}
.mainlogo {
    width: 100%;
    max-width: 70px;
    height: auto;
  }
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
