<!-- Last Updated on: 9/8/18 -->
<!--ZURB RESPONSIVE NAV BAR-->
<div class="title-bar" data-responsive-toggle="main-nav" data-hide-for="medium">
  <button class="menu-icon" type="button" data-toggle="main-nav"></button>
<div class="title-bar-title">Menu</div>
</div>

<nav class="top-bar" id="main-nav">
<div class="top-bar-left">
  <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown" data-auto-height="true" data-animate-height="true">
    <li class="menu-text"><a class="center" href="https://www.instagram.com/loveisendlessadventures/" target="_blank">&#64;loveisendlessadventures</a></li>
    <li><a href="index.html">Home</a></li>
    <li>
    <li><a href="story.html">Our Story</a></li>
    <li><a href="adventures-overview.html">Adventures</a></li>
        <li><a href="monterey.html">Monterey Trip</a></li>
  </ul>
</div>
